Chroma==0.2.0
langchain-chroma==0.2.0
langgraph==0.2.62
langchain-openai==0.3.0
langchain-together==0.3.0
langchain-huggingface==0.1.2
langchain-community==0.3.14
nltk==3.9.1
pandas==2.2.3
psycopg2==2.9.10
pypdf==5.1.0